body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.debug{
  outline: 1px solid red;
}

.icon-btn {
  background: none;
  border: none;
}


.categories {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-left: 152px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}

